:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bgc-color: #f5f4fa;
}
/* вторичный цвет боди #F5F4FA */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ==========L O G O========== */
.logo {
  color: #000000;
  font-family: raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-color {
  color: var(--accent-color);
}

/* .contacts,
.menu-item {
  display: flex;
} */

/* ==========SITE - NAV========== */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
  color: var(--accent-color);
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* ==========C O N T A C T S - l I S T========== */

.contacts-list {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts-list:hover {
  color: var(--accent-color);
}

/* ==========H E R O========== */
.hero {
  background-color: #2f303a;
  height: 600px;
}

.hero-title {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* ==========FEATURES - LIST========== */
.features-list {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list .text {
  font-size: 14px;
  line-height: 1.71;
}

/* ==========SECTION - TITLE========== */
.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* ==========TEAM - LIST========== */
.team-list {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.team-list .specialty {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.works {
  background-color: #f5f4fa;
}
/* ==========PROJECT-LIST========== */

.project-list {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list .filter {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/* ==========B U T T O N========== */

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}
.button.secondary {
  color: var(--title-text-color);
  background-color: var(--primary-bgc-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.button.secondary:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
button {
  cursor: pointer;
}
/* ==========A D R E S S========== */
.adress {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer {
  background-color: #2f303a;
}
